<h1>Success Please use this short URL:<a
    href="{{originalUrl}}">https://enigmatic-peak-82535.herokuapp.com/{{shortUrl}}</a></h1>

<!-- The text field -->
<input type="text" value="https://enigmatic-peak-82535.herokuapp.com/{{shortUrl}}" id="myInput">
<!-- The button used to copy the text -->
<button onclick="myFunction()">Copy url</button>