<h1>Success Please use this short URL:<a href="{{originalUrl}}">http://localhost:3000/{{shortUrl}}</a></h1>

<!-- The text field -->
<input type="text" value="http://localhost:3000/{{shortUrl}}" id="myInput">
<!-- The button used to copy the text -->
<button onclick="myFunction()">Copy url</button>